/* Estilos generales */
body {
    font-family: 'Helvetica', sans-serif;
    /* Fondo oscuro */
    color: #979797;
    /* Texto claro */
}

.btn {
    margin-right: 10px; 
}

.delete-button {
    margin-left: 272px; 
}

.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Ajusta este valor según tus preferencias */
}

.item-text {
    flex-grow: 1;
    margin-right: 10px; /* Espacio entre el texto y el botón */
}

/* Agrega margen superior a los botones "Calcular" y "Copiar" */
.button-container {
    margin-top: 20px; /* Puedes ajustar el valor (en píxeles) según tus preferencias */
  }
  
  .form-select{
    margin-top: 10px;
  }

  #nueva{
    margin-top: 10px;
    margin-bottom: 10px;
  }

